<div id="lc-container"></div>

<script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es6,fetch,Array.prototype.includes,Object.keys,Symbol.iterator&flags=gated" type="text/javascript"></script>
<script>
    var LC_TOKEN = '{{ lcToken }}';
    var STORE_TOKEN = '{{ storeToken }}';
    var SITE_URL = '{{ siteUrl }}';
    var USER_EMAIL = '{{ userEmail }}';
    var USER_NAME = '{{ userName }}'
    var WP_VER = '{{ wpVer }}';
    var MODULE_VER = '{{ moduleVer }}';
    var PARTNER_ID = '{{ partnerId }}';
    var UTM_CAMPAIGN = '{{ utmCampaign }}';

    (function () {
        var interval = setInterval(function () {
            if (window.AppBridge === undefined) {
                return;
            }
            clearInterval(interval);

            function adminAjaxCall(action, data = {}, type = 'POST') {
                return jQuery.ajax({
                    url: ajaxurl, //ajaxurl is WP global variable
                    type,
                    data: {
                        ...data,
                        action,
                        security: ajax_nonce.value
                    }
                });
            }

            function userSignedInHandler(userToken, storeToken) {
                return adminAjaxCall('lc_connect', {
                    user_token: userToken,
                    store_token: storeToken
                });
            }

            function appWasDisconnectedhandler() {
                return adminAjaxCall('lc_disconnect');
            }

            function entityNotFound(entity) {
                return adminAjaxCall(`lc_${entity}_not_found`).done(() => {
                    window.location.reload();
                });
            }

            var eventsRegister = new AppBridge.EventsRegister();
            eventsRegister.register(AppBridge.UserSignedInEvent, function (data) {
                return userSignedInHandler(data.userToken, data.storeToken);
            });
            eventsRegister.register(AppBridge.AppWasDisconnectedEvent, function () {
                return appWasDisconnectedhandler();
            });
            eventsRegister.register(AppBridge.ErrorOccurredEvent, function (data) {
                if (data.statusCode !== 404) {
                    return console.error(new Error(data.errorMessage));
                }

                if (data.errorMessage === 'Store was not found') {
                    return entityNotFound('store');
                }

                if (data.errorMessage === 'User was not found') {
                    return entityNotFound('user');
                }
            });

            AppBridge.AppBridgeParent.init('wordpress', eventsRegister, document.getElementById('lc-container'), '{{ appUrl }}').then(function (bridge) {
                document.getElementsByTagName('iframe')[0].classList.add('lc-iframe');

                if (LC_TOKEN) {
                    return bridge.call(AppBridge.SignInCommand.fromObject({
                        userToken: LC_TOKEN,
                        platform: bridge.platform,
                        platformVer: WP_VER,
                        moduleVer: MODULE_VER
                    }));
                }

                if (STORE_TOKEN) {
                    return bridge.call(AppBridge.JoinCommand.fromObject({
                        storeToken: STORE_TOKEN,
                        userId: USER_EMAIL,
                        userName: USER_NAME,
                        platform: bridge.platform,
                        platformVer: WP_VER,
                        moduleVer: MODULE_VER
                    }));
                }

                return bridge.call(AppBridge.ConnectCommand.fromObject({
                    storeUrl: SITE_URL,
                    userId: USER_EMAIL,
                    userName: USER_NAME,
                    platform: bridge.platform,
                    platformVer: WP_VER,
                    moduleVer: MODULE_VER,
                    partnerId: PARTNER_ID,
                    utmCampaign: UTM_CAMPAIGN
                }));
            });
        }, 100);
    })();
</script>
